<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @form.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @form.last_name %>
</p>

<p>
  <strong>Email address:</strong>
  <%= @form.email_address %>
</p>

<p>
  <strong>Address:</strong>
  <%= @form.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @form.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @form.state %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @form.zipcode %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @form.gender %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @form.grade %>
</p>

<p>
  <strong>Dietary restrictions:</strong>
  <%= @form.dietary_restrictions %>
</p>

<p>
  <strong>Dietary restrictions description:</strong>
  <%= @form.dietary_restrictions_description %>
</p>

<p>
  <strong>Emergency contact name:</strong>
  <%= @form.emergency_contact_name %>
</p>

<p>
  <strong>Emergency contact relationship:</strong>
  <%= @form.emergency_contact_relationship %>
</p>

<p>
  <strong>Emergency contact phone:</strong>
  <%= @form.emergency_contact_phone %>
</p>

<p>
  <strong>Emergency contact address:</strong>
  <%= @form.emergency_contact_address %>
</p>

<p>
  <strong>Emergency contact city:</strong>
  <%= @form.emergency_contact_city %>
</p>

<p>
  <strong>Emergency contact state:</strong>
  <%= @form.emergency_contact_state %>
</p>

<p>
  <strong>Emergency contact zipcode:</strong>
  <%= @form.emergency_contact_zipcode %>
</p>

<%= link_to 'Edit', edit_form_path(@form) %> |
<%= link_to 'Back', forms_path %>
