<!DOCTYPE html>
<html>
  <head>
    <title>RailsFormExample</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if admin_signed_in? %>
      <p>
        Sign in as <%= current_admin.email %>.
        <%= link_to "Sign out", destroy_admin_session_path, method: :delete %>.
      </p>
    <% else %>
      <p>
        <%= link_to "Admin sign in", new_admin_session_path %>
      </p>
    <% end %>
    <%= yield %>
  </body>
</html>
